<h1>Gotta Catch em All!</h1>

<h2>Wild Pokemon!</h2>

<ul>
  {{#each poke_data}} {{#unless this.captured}}
  <div>
    <form action="/pokemon/create" method="POST">
      <button type="submit" class='pokemonAvailable'> {{this.pokemon_name}}</button>
    </form>
    {{!-- <form action="/pokemon/{{this.id}}?_method=PUT" method="POST">
      <button type="submit" class='pokemonAvailable'> {{this.pokemon_name}}</button>
    </form> --}}
  </div>

  {{/unless}} {{/each}}
</ul>

<h2>Pokemon that are captured!</h2>

<ul>
  {{#each poke_data}} {{#if this.captured}} {{poke_data}} {{/if}} {{/each}}
</ul>

<h2>Add a Pokemon</h2>
<form class="create-form" action="/pokemon/create" method="POST">

  <div class="form-group">
    <label for="poke-label">Pokemon Name:</label>
    <input type="text" id="poke-input" name="pokemon_name" placeholder="Pokemon">
  </div>

  <div class="form-group">
    <label for="capture-label">Captured?</label>
    <br>
    <input type="radio" name="captured" value="1" checked> Caught!
    <br>
    <input type="radio" name="captured" value="0"> Wild!
  </div>

  <button class="change-capture" type="submit">Add Pokemon</button>
</form>